h4{
    font-family: 'Great Vibes';
   font-size: 50px; 
   margin: 0px;
   }
   h1{
     color:#FF4500 ;
     font-family:'Lucida Calligraphy';
   }
   p{
   color: black;
   font-size: 20px;
   font-family:'Lucida Calligraphy';
   }
  
   .textwrap{
     float: left;
     margin: 10px;
     width: 400px;
   }

   .column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }